<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue的常用指令v-if</title>
</head>
<body>
    <div id="app">
        <p v-for="(score,index) in scores">
            {{index + ':' + score}}
        </p>
        <p v-if="score >= 90">优秀</p>
        <p v-else-if="score >= 60">及格</p>
        <p v-else>不及格</p>
        <input type="text" v-model="score">
    </div>
    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                scores:[90,80,70,60]
            }
        })
    </script>
    
</body>
</html>